<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key="DatabaseInstanceName" value="RobLT\SS2017"/>
    <add key="DatabaseName" value="TestDb"/>
    <add key="FormatObjectName" value="true"/>
  </appSettings>
</configuration>
